# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional: Ignore CSS if you're using a preprocessor
# *.css

# Optional: Ignore minified files
# *.min.js
# *.min.css
